* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  color: var(--text-primary-color);
  background: var(--background-alt);
}

.body::-webkit-scrollbar {
  width: 12px;
}
.body::-webkit-scrollbar-track {
  background: #2F2F37;
}
.body::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}

.app {
  display: flex;
  flex-direction: column;
  height: max-content;
  background-color: #131316;
}

.header {
  min-width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.link {
  list-style: none;
  text-decoration: none;
  color: #F2F2F3;
  display: flex;
  flex-direction: row;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.navContainer {
  border-radius: 40px;
}

.main {
  min-width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.burgerIngredients {
  max-width: 600px;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.priceContainer {
  display: flex;
  flex-direction: row;
}

.cardsContainer {
  max-height: 756px;
  overflow-y: scroll;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 272px);
  grid-template-rows: repeat(auto-fit, 208px);
  gap: 24px 40px;
}

.cardsContainer::-webkit-scrollbar {
  width: 12px;
}
.cardsContainer::-webkit-scrollbar-track {
  background: #2F2F37;
}
.cardsContainer::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}


