* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  color: var(--text-primary-color);
  background: var(--background-alt);
}

/*.body::-webkit-scrollbar {*/
/*  width: 12px;*/
/*}*/
/*.body::-webkit-scrollbar-track {*/
/*  background: #2F2F37;*/
/*}*/
/*.body::-webkit-scrollbar-thumb {*/
/*  background: #8585AD;*/
/*  border: 3px solid #2F2F37;*/
/*  border-radius: 6px;*/
/*}*/

.app {
  display: flex;
  flex-direction: column;
  /*height: max-content;*/
  background-color: #131316;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  min-width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.link {
  list-style: none;
  text-decoration: none;
  color: #F2F2F3;
  display: flex;
  flex-direction: row;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.container {
  display: flex;
}

.navContainer {
  display: flex;
}

.logo {
  margin-left: 112px;
}

.main {
  min-width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
}

.burgerIngredients {
  max-width: 600px;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 8px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 272px);
  grid-template-rows: repeat(auto-fit, 208px);
  gap: 32px 24px;
}

.cardsContainer {
  max-height: 756px;
  overflow-y: scroll;
}

.cardsContainer::-webkit-scrollbar {
  width: 12px;
}
.cardsContainer::-webkit-scrollbar-track {
  background: #2F2F37;
}
.cardsContainer::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}


.burgerIngredientsContainer {
  max-height: 480px;
  overflow-y: scroll;
  margin-left: 18px;
}

.burgerIngredientsContainer::-webkit-scrollbar {
  width: 12px;
}
.burgerIngredientsContainer::-webkit-scrollbar-track {
  background: #2F2F37;
}
.burgerIngredientsContainer::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}

.burgerConstructor {
  max-height: 900px;
  padding-right: 16px;
}




