.container {
  position: relative;
}

.infoContainer {
  text-align: center;
}

.title {
  text-align: left;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #8585AD;
  justify-content: center;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  text-align: left;
}

.text {
  text-align: center;
}
