.burgerConstructor {
  max-height: 900px;
}

.burgerIngredientsContainer {

}

.burgerIngredientsContainerScroll {
  max-height: 480px;
  overflow-y: scroll;
}

.burgerIngredientsContainerScroll::-webkit-scrollbar {
  width: 8px;
}
.burgerIngredientsContainerScroll::-webkit-scrollbar-track {
  background: #2F2F37;
}
.burgerIngredientsContainerScroll::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 8px;
}